################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StudentManage/API/obj
/StudentManage/BusinessLayer/obj
/StudentManage/DataAccessLayer/obj
/StudentManage/DataAccessLayer/bin/Debug/net6.0
/StudentManage/BusinessLayer/bin/Debug/net6.0
/StudentManage/API/bin/Debug/net6.0
