################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/StudentManage/.vs/StudentManage/FileContentIndex
/StudentManage/DataAccessLayer/bin/Debug/net6.0
/StudentManage/DataAccessLayer/Data/ApplicationDbContext.cs
/StudentManage/DataAccessLayer/obj
/StudentManage/BusinessLayer/bin/Debug/net6.0
/StudentManage/BusinessLayer/obj
/StudentManage/API/bin/Debug/net6.0
/StudentManage/API/obj
/StudentManage/.vs/StudentManage/v17/.suo
